
<!-- 部分テンプレートを使うページ
users/index
users/show
books/index
books/show
渡すインスタンス変数
--> 
    <div class="col-sm-12 col-md-3 my-3">
      <nav>
        <h2>User info</h2>
        <%= image_tag user.get_profile_image %>
        <%# image_tag指定しないと単なる画像ファイルのお名前になってしまう 
        renderするとインスタンス変数をセットしなおさないと定義されていないメソッドにされてしまう%>
        <table class="table">
          <tr>
            <th>Name</th> 
            <th><%= user.name %></th>
          </tr>
          <tr>
            <td>Introduction</td>
            <td><%= user.introduction %></td>
          </tr>
        </table>
        <!-- 別ユーザーの詳細ページからアクセスした場合、current_userの詳細へ移動させたい
        @book_temp = bookの中身はあらかじめcurrent_user.idが入ってしまっているので
        どうにかbook.user_idをセットしたい。
        いつもコントローラー側で使用するアクションごとに１個１個設定し直していることを考慮するべき
        @user_temp = @books.userだったので、これをセット
        -->
        <!-- createアクションでデータをやり取りしているのは@book_tempではなく@book -->

        <p>
            <%= link_to edit_user_path(@user_temp.id), class: 'btn btn-outline-secondary btn-block' do %>
              <i class="fa-solid fa-user-gear"></i>
            <% end %>
        </p>
        <%# クリエイトは必ず自分のid、表示ユーザーidはusers/showから取ってくる %>

          <h2>New book</h2>
          <!-- titleをbodyの横幅に合わせる ここの要素を中央ぞろえにする -->
          <%= form_with model: book, local: true do |f| %>
            <p>title</p>
            <%= f.text_field :title, class: "w-100" %>
            <p>Opinion</p>
            <%= f.text_area :body, class: "w-100" %>
            <%= f.submit 'Create Book', class: "btn btn-success mt-3" %>
          <% end %>

      </nav>
    </div>
    <%# before_actionで必要なインスタンス変数を取ってきて、こちらでローカル変数に変換 %>

    <%# userとbookの中身は@user = User.find(params[:id])と@book = Book.new %>
