<h1>Book info</h1>
<% if @book_posted.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生
  <ul>
    <% @book_posted.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book_posted do |f| %>
  <label for="inputTitle">Title</label>
  <p><%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"タイトル" %></p>
  <label for="inputBody">Opinion</label>
  <p><%= f.text_area :body, id:"inputBody", placeholder:"本文" %></p>
  <p><%= f.submit "Update Book" %></p>
<% end %>